* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ABeeZee', sans-serif;
    background-color: whitesmoke;
    color: black;
    margin: 0;
    line-height: 1.5;
}

header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #76F2F6, white);
    font-family: 'Alumni Sans';
    justify-content: space-between;
}

h1 {
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
}

.header_links {
    margin-right: 1rem;
    font-family: 'Alumni Sans';
    display: flex;
    list-style-type: none;
}

.header_links li{
    margin: 0 1rem;
}

.header_links a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.header_links :hover{
    color: #76F2F6;
    transition: color 0.3s ease-in-out;
}

.hero_front {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to right, white, black);

}

.hero_image {
    height: 500px;
    max-width: 100%;
    border-radius: 25px;
}

.hero_text {
    width: 50%; 
    font-size: 1.2rem;
    padding-right: 20px; 
    gap: 10px;
}

h2 {
    font-size: 80px;
    color: #76F2F6;
    font-family: 'Jaro';
}

main {
    padding: 2rem 2rem;
}

.pix_display {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pix_column {
    width: 200px; 
    text-align: center;
}

.pix_column h4 {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border-radius: 10px;
}

.pix_column img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pix_column p {
    text-align: center;
    font-size: 0.9rem;
    max-width: 200px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info img {
    width: 200px;  /* Square size for the image */
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.contact-info div {
    display: flex;
    flex-direction: column;
    color: white;
}

.contact-info p {
    margin: 5px 0;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: white;
}

select {
    padding: 5px;
    font-size: 1rem;
}